body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  margin: 50px auto 0 auto;
  font-size: 70px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #66BFBF;
  font-weight: normal;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}
.middle-container{
  margin: 30px auto 0;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 5%;
  margin: 50px auto;
}
.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 270px;
  top: 50px;

}

.bottom-cloud {
  position:absolute;
  left: 250px;
  bottom: 300px;
}
a{
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin:60px auto;
  text-align: left;
  line-height: 2;
}
.img1{
  width: 50%;
  height: 210px;
  float: left;
  margin-right: 20px;
  margin-top: 25px;
}
.img2{
  height: 160px;
  width: 30%;
  float: right;
  margin-left: 20px;
}

.contact-me{
  text-align: center;
  width: 60%;
  margin: 70px auto;
  line-height: 2;
}
.button1{
   background-color: #008CBA;
   border: none;
   color: white;
   padding: 8px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   position: relative;
   top: 50px;
   border-radius: 10px;
}
.button2{
  background-color: white;
  border:2px solid  #008CBA;
  color: black;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition-duration: 0.4s;
  display: inline-block;
  position: relative;
  top: 70px;
  left:568px;
}
.button2:hover{
  background-color: #008CBA;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bottom-container{
  background-color: #66BFBF;
  height: 150px;
  text-align:center;
  color: white;
  border-top-width: 30px;
    padding-top: 50px;
}
.button3{
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  right: 40px;
}
.button4{
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.button5{
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  left: 40px;
}
.copy-right{
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: 30px;
}
